h1,
h3 {
  margin: 0px;
  display: inline-block !important;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.info {
  width: 1000px;
}

.text {
  width: 100%;
  height: 100%;
  padding-left: 15px !important;
  padding: 0px;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
}

.text_up_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text_up_title {
  width: auto;
}

.text_up_info {
  width: 200px;
  text-align: right;
  padding-right: 10px;
  line-height: 40px;
}

.text_down_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text_down_name {
  width: 300px;
}

.text_down_info {
  width: 300px;
  text-align: right;
  padding-right: 10px;
}

.content {
  width: 100%;
  height: 100%;
  padding: 0px;
  border-top: 0px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
}

.content img {
  width: 100%;
  height: 100%;
}

.button_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button_container button {
  width: 100px;
  height: 70px;
  border-radius: 15px;
  border: 1px solid black;
  font-size: 20px;
  background-color: rgb(204, 199, 199);
}

button:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.button_like {
  margin-right: 30px;
}

.button_hate {
  margin-left: 30px;
}

.reply_container {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
  border-top: 1px solid black;
}

.replys {
  width: 100%;
  margin-top: 15px;
}

.reply {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.replyNickName {
  width: 10%;
  height: 100%;
  text-align: center;
}

.replyComment {
  width: 50%;
  height: 100%;
  text-align: left;
}

.replyTime {
  width: 220px;
  height: 100%;
  text-align: center;
}

.reply_write_container {
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: 15px;
}

.reply_write textarea {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid black;
  resize: none;
}

.reply_write {
  width: 80%;
  height: 100%;
}

.reply_button {
  width: 20%;
  height: 100%;
}

.reply_button button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid black;
}
